In [1]:
import pandas as pd
import numpy as np

In [2]:
import meteostat
from meteostat import Hourly, Stations, Point
from datetime import datetime, timedelta

In [3]:
df = pd.read_csv("../raw_data/fire_incidents_data.csv")

In [4]:
times = df["TFS_Alarm_Time"]
times = pd.to_datetime(times)
print(times)

0       2018-02-24 21:04:29
1       2018-02-24 21:24:43
2       2018-02-25 13:29:59
3       2018-02-25 14:13:39
4       2018-02-25 18:20:43
                ...
25855   2021-06-24 07:28:16
25856   2021-06-24 07:59:40
25857   2021-06-24 11:45:44
25858   2021-06-24 14:04:07
25859   2021-06-24 15:07:19
Name: TFS_Alarm_Time, Length: 25860, dtype: datetime64[ns]

In [5]:
t = times[0].replace(second=0, microsecond=0, minute=0)
print(t)

2018-02-24 21:00:00

In [6]:
lat = df["Latitude"]
long = df["Longitude"]

In [7]:
display(lat)

0        43.686558
1        43.766135
2        43.743230
3        43.708659
4        43.718118
           ...
25855    43.731133
25856    43.746315
25857    43.657067
25858    43.663052
25859    43.749227
Name: Latitude, Length: 25860, dtype: float64

In [8]:
start = t
end = t

p = Point(lat[0], long[0])
# Get hourly data
data = Hourly(p, start, start)
data = data.fetch()
print(type(data))
# Print DataFrame
print(data)

Warning: Cannot load hourly/2018/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2019/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/

<class 'pandas.core.frame.DataFrame'>
                     temp  dwpt  rhum  prcp  snow  wdir  wspd  wpgt    pres  \
time
2018-02-24 21:00:00   4.0  -3.5  58.0   NaN   NaN  70.0   9.4   NaN  1022.2

                     tsun  coco
time
2018-02-24 21:00:00   NaN   3.0

In [9]:
state = Stations()
state = state.nearby(lat[0], lat[1])
state = state.fetch(1)
print(state)

          name country region    wmo  icao  latitude  longitude  elevation  \
id
37212  Nal'Cik      RU     KB  37212  URMN   43.5333    43.6333        0.0

               timezone hourly_start hourly_end daily_start  daily_end  \
id
37212  Europe/Volgograd   1948-01-01 2023-03-19  1936-01-01 2023-03-12

      monthly_start monthly_end      distance
id
37212    1936-01-01  2022-01-01  20119.372572

In [10]:
times = times.apply(lambda dt:dt.replace(second=0, microsecond=0, minute=0))
print(times)

0       2018-02-24 21:00:00
1       2018-02-24 21:00:00
2       2018-02-25 13:00:00
3       2018-02-25 14:00:00
4       2018-02-25 18:00:00
                ...
25855   2021-06-24 07:00:00
25856   2021-06-24 07:00:00
25857   2021-06-24 11:00:00
25858   2021-06-24 14:00:00
25859   2021-06-24 15:00:00
Name: TFS_Alarm_Time, Length: 25860, dtype: datetime64[ns]

In [11]:
df = pd.concat([times, lat, long], axis=1)
print(df)

           TFS_Alarm_Time   Latitude  Longitude
0     2018-02-24 21:00:00  43.686558 -79.599419
1     2018-02-24 21:00:00  43.766135 -79.390039
2     2018-02-25 13:00:00  43.743230 -79.245061
3     2018-02-25 14:00:00  43.708659 -79.478062
4     2018-02-25 18:00:00  43.718118 -79.443184
...                   ...        ...        ...
25855 2021-06-24 07:00:00  43.731133 -79.607765
25856 2021-06-24 07:00:00  43.746315 -79.588165
25857 2021-06-24 11:00:00  43.657067 -79.374567
25858 2021-06-24 14:00:00  43.663052 -79.402109
25859 2021-06-24 15:00:00  43.749227 -79.510449

[25860 rows x 3 columns]

In [12]:
# tmp = df[0]
# Point(df["Latitude"][0], df["Longitude"][0])
tmp = df.iloc[0]
tp =Point(tmp[1], tmp[2])
print(type(tp))
print(tp)
th= Hourly(tp,tmp[0],tmp[0])
th.fetch()

<class 'meteostat.interface.point.Point'>
<meteostat.interface.point.Point object at 0x0000027DCDE117F0>

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2018-02-24 21:00:00,4.0,-3.5,58.0,NaN,NaN,70.0,9.4,NaN,1022.2,NaN,3.0

In [13]:
df2 = pd.concat([lat, long], axis=1)
print(df2)

        Latitude  Longitude
0      43.686558 -79.599419
1      43.766135 -79.390039
2      43.743230 -79.245061
3      43.708659 -79.478062
4      43.718118 -79.443184
...          ...        ...
25855  43.731133 -79.607765
25856  43.746315 -79.588165
25857  43.657067 -79.374567
25858  43.663052 -79.402109
25859  43.749227 -79.510449

[25860 rows x 2 columns]

In [14]:
df2.columns

Index(['Latitude', 'Longitude'], dtype='object')

In [15]:
df3 = df2.apply(lambda y:meteostat.Point(y['Latitude'], y['Longitude']), axis = 1)

In [16]:
# for index, val in df3.items():
#     print(val._lat, val._lon)
display(df2)
df3.count()

        Latitude  Longitude
0      43.686558 -79.599419
1      43.766135 -79.390039
2      43.743230 -79.245061
3      43.708659 -79.478062
4      43.718118 -79.443184
...          ...        ...
25855  43.731133 -79.607765
25856  43.746315 -79.588165
25857  43.657067 -79.374567
25858  43.663052 -79.402109
25859  43.749227 -79.510449

[25860 rows x 2 columns]

25860

In [17]:
df4 = pd.concat([times, df3], axis= 1)
df4.columns = ['TFS_Alarm_Time', 'Points']
# display(df4)
df5 = df4.apply(lambda y:meteostat.Hourly(y['Points'], y['TFS_Alarm_Time'],y['TFS_Alarm_Time']), axis = 1)
display(df5)
print(type(df5))

Warning: Cannot load hourly/2017/7FGUJ.csv.gz from https://bulk.meteostat.net/v2/

0        <meteostat.interface.hourly.Hourly object at 0...
1        <meteostat.interface.hourly.Hourly object at 0...
2        <meteostat.interface.hourly.Hourly object at 0...
3        <meteostat.interface.hourly.Hourly object at 0...
4        <meteostat.interface.hourly.Hourly object at 0...
                               ...
25855    <meteostat.interface.hourly.Hourly object at 0...
25856    <meteostat.interface.hourly.Hourly object at 0...
25857    <meteostat.interface.hourly.Hourly object at 0...
25858    <meteostat.interface.hourly.Hourly object at 0...
25859    <meteostat.interface.hourly.Hourly object at 0...
Length: 25860, dtype: object

<class 'pandas.core.series.Series'>

In [60]:
df6 = df5.apply(lambda y:meteostat.series.fetch)
display(df7)
# display data
# create new csv file to store such data in data file

0        <module 'meteostat.series.fetch' from 'C:\\Use...
1        <module 'meteostat.series.fetch' from 'C:\\Use...
2        <module 'meteostat.series.fetch' from 'C:\\Use...
3        <module 'meteostat.series.fetch' from 'C:\\Use...
4        <module 'meteostat.series.fetch' from 'C:\\Use...
                               ...
25855    <module 'meteostat.series.fetch' from 'C:\\Use...
25856    <module 'meteostat.series.fetch' from 'C:\\Use...
25857    <module 'meteostat.series.fetch' from 'C:\\Use...
25858    <module 'meteostat.series.fetch' from 'C:\\Use...
25859    <module 'meteostat.series.fetch' from 'C:\\Use...
Length: 25860, dtype: object

In [94]:
maxIndex = len(df5)
display(df5[1].fetch())
list = []
for z in range(maxIndex):
    list.append(df5[z].fetch())

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2018-02-24 21:00:00,4.0,-3.1,60.0,NaN,NaN,70.0,13.0,NaN,1022.4,NaN,NaN

In [95]:
dfWeather = pd.concat(list)

In [96]:
dfWeather.to_csv("Weather.csv")

In [97]:
# problems: requesting data dropped some data from api
# the time range ie) 10 mins before + 10 mins after or?
# need to add comments
# cannot identify which fires are which anymore because of the change in times