In [1]:
import pandas as pd
import numpy as np

In [2]:
import meteostat
from meteostat import Hourly, Stations, Point
from datetime import datetime, timedelta

In [3]:
df = pd.read_csv("../raw_data/fire_incidents_data.csv")

In [4]:
td = timedelta(minutes = 30)

In [5]:
location = pd.merge(df["TFS_Alarm_Time"],df["Latitude"], right_index = True,
               left_index = True)
display(location.head())
print(len(location))

        TFS_Alarm_Time   Latitude
0  2018-02-24T21:04:29  43.686558
1  2018-02-24T21:24:43  43.766135
2  2018-02-25T13:29:59  43.743230
3  2018-02-25T14:13:39  43.708659
4  2018-02-25T18:20:43  43.718118

25860

In [6]:
dfDim = pd.concat([location, df["Longitude"]], axis = 1)
display(dfDim.head())

        TFS_Alarm_Time   Latitude  Longitude
0  2018-02-24T21:04:29  43.686558 -79.599419
1  2018-02-24T21:24:43  43.766135 -79.390039
2  2018-02-25T13:29:59  43.743230 -79.245061
3  2018-02-25T14:13:39  43.708659 -79.478062
4  2018-02-25T18:20:43  43.718118 -79.443184

In [7]:
dfDim = dfDim.dropna()
display(dfDim.head())
print(len(dfDim))

        TFS_Alarm_Time   Latitude  Longitude
0  2018-02-24T21:04:29  43.686558 -79.599419
1  2018-02-24T21:24:43  43.766135 -79.390039
2  2018-02-25T13:29:59  43.743230 -79.245061
3  2018-02-25T14:13:39  43.708659 -79.478062
4  2018-02-25T18:20:43  43.718118 -79.443184

25858

In [8]:
timeKey = dfDim["TFS_Alarm_Time"]
timeKey = timeKey.apply(lambda x: str(x))
timeKey = timeKey.apply(lambda x:x.replace("-", ""))
timeKey = timeKey.apply(lambda x:x.replace(":", ""))
timeKey = timeKey.apply(lambda x:x.replace(" ", ""))
timeKey = timeKey.apply(lambda x:x.replace("T", ""))
display(timeKey.head())

0    20180224210429
1    20180224212443
2    20180225132959
3    20180225141339
4    20180225182043
Name: TFS_Alarm_Time, dtype: object

In [9]:
latKey = dfDim["Latitude"]
longKey = dfDim["Longitude"]
display(latKey.head())
print(len(latKey))

0    43.686558
1    43.766135
2    43.743230
3    43.708659
4    43.718118
Name: Latitude, dtype: float64

25858

In [10]:
latKey = latKey.apply(lambda x: x-43)
display(latKey.head())

0    0.686558
1    0.766135
2    0.743230
3    0.708659
4    0.718118
Name: Latitude, dtype: float64

In [11]:
latKey = latKey.apply(lambda x:x*10000)
display(latKey.head())

0    6865.58177
1    7661.34782
2    7432.30192
3    7086.59308
4    7181.18427
Name: Latitude, dtype: float64

In [12]:
latKey = latKey.apply(lambda x: int(x))
display(latKey.head())

0    6865
1    7661
2    7432
3    7086
4    7181
Name: Latitude, dtype: int64

In [13]:
display(longKey.head())

0   -79.599419
1   -79.390039
2   -79.245061
3   -79.478062
4   -79.443184
Name: Longitude, dtype: float64

In [14]:
longKey = longKey.apply(lambda x:x+79)
display(longKey.head())

0   -0.599419
1   -0.390039
2   -0.245061
3   -0.478062
4   -0.443184
Name: Longitude, dtype: float64

In [15]:
longKey = longKey.apply(lambda x:abs(x))
display(longKey.head())

0    0.599419
1    0.390039
2    0.245061
3    0.478062
4    0.443184
Name: Longitude, dtype: float64

In [16]:
longKey = longKey.apply(lambda x:x*10000)
longKey = longKey.apply(lambda x:int(x))
display(longKey.head())

0    5994
1    3900
2    2450
3    4780
4    4431
Name: Longitude, dtype: int64

In [17]:
longKey = longKey.apply(lambda x: str(x))
latKey = latKey.apply(lambda x: str(x))
print(type(latKey[0]))

<class 'str'>

In [18]:
weatherKey = pd.concat([timeKey, latKey, longKey], axis = 1)
display(weatherKey.head())

   TFS_Alarm_Time Latitude Longitude
0  20180224210429     6865      5994
1  20180224212443     7661      3900
2  20180225132959     7432      2450
3  20180225141339     7086      4780
4  20180225182043     7181      4431

In [19]:
weatherKey["Key"] = weatherKey.apply(lambda x:x["TFS_Alarm_Time"]+x["Latitude"]+x["Longitude"], axis = 1)
display(weatherKey.head())

   TFS_Alarm_Time Latitude Longitude                     Key
0  20180224210429     6865      5994  2018022421042968655994
1  20180224212443     7661      3900  2018022421244376613900
2  20180225132959     7432      2450  2018022513295974322450
3  20180225141339     7086      4780  2018022514133970864780
4  20180225182043     7181      4431  2018022518204371814431

In [20]:
weatherKey = weatherKey[["Key"]]
display(weatherKey.head())

                      Key
0  2018022421042968655994
1  2018022421244376613900
2  2018022513295974322450
3  2018022514133970864780
4  2018022518204371814431

In [21]:
weatherData = pd.concat([weatherKey, dfDim], axis = 1)
display(weatherData.head())

                      Key       TFS_Alarm_Time   Latitude  Longitude
0  2018022421042968655994  2018-02-24T21:04:29  43.686558 -79.599419
1  2018022421244376613900  2018-02-24T21:24:43  43.766135 -79.390039
2  2018022513295974322450  2018-02-25T13:29:59  43.743230 -79.245061
3  2018022514133970864780  2018-02-25T14:13:39  43.708659 -79.478062
4  2018022518204371814431  2018-02-25T18:20:43  43.718118 -79.443184

In [22]:
print(type(weatherData["TFS_Alarm_Time"][0]))

<class 'str'>

In [23]:
weatherData["TFS_Alarm_Time"] = weatherData["TFS_Alarm_Time"].apply(lambda x:datetime.strptime(x, '%Y-%m-%dT%H:%M:%S'))
display(weatherData.head())
print(type(weatherData["TFS_Alarm_Time"][0]))

                      Key      TFS_Alarm_Time   Latitude  Longitude
0  2018022421042968655994 2018-02-24 21:04:29  43.686558 -79.599419
1  2018022421244376613900 2018-02-24 21:24:43  43.766135 -79.390039
2  2018022513295974322450 2018-02-25 13:29:59  43.743230 -79.245061
3  2018022514133970864780 2018-02-25 14:13:39  43.708659 -79.478062
4  2018022518204371814431 2018-02-25 18:20:43  43.718118 -79.443184

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [24]:
weatherData["StartTime"] = weatherData["TFS_Alarm_Time"].apply(lambda x:x-td)
display(weatherData.head())

,Key,TFS_Alarm_Time,Latitude,Longitude,StartTime
0,2018022421042968655994,2018-02-24 21:04:29,43.686558,-79.599419,2018-02-24 20:34:29
1,2018022421244376613900,2018-02-24 21:24:43,43.766135,-79.390039,2018-02-24 20:54:43
2,2018022513295974322450,2018-02-25 13:29:59,43.743230,-79.245061,2018-02-25 12:59:59
3,2018022514133970864780,2018-02-25 14:13:39,43.708659,-79.478062,2018-02-25 13:43:39
4,2018022518204371814431,2018-02-25 18:20:43,43.718118,-79.443184,2018-02-25 17:50:43

In [25]:
weatherData["EndTime"] = weatherData["TFS_Alarm_Time"].apply(lambda x:x+td)
display(weatherData.head())

,Key,TFS_Alarm_Time,Latitude,Longitude,StartTime,EndTime
0,2018022421042968655994,2018-02-24 21:04:29,43.686558,-79.599419,2018-02-24 20:34:29,2018-02-24 21:34:29
1,2018022421244376613900,2018-02-24 21:24:43,43.766135,-79.390039,2018-02-24 20:54:43,2018-02-24 21:54:43
2,2018022513295974322450,2018-02-25 13:29:59,43.743230,-79.245061,2018-02-25 12:59:59,2018-02-25 13:59:59
3,2018022514133970864780,2018-02-25 14:13:39,43.708659,-79.478062,2018-02-25 13:43:39,2018-02-25 14:43:39
4,2018022518204371814431,2018-02-25 18:20:43,43.718118,-79.443184,2018-02-25 17:50:43,2018-02-25 18:50:43

In [31]:
dfPoints = weatherData.apply(lambda x:meteostat.Point(x["Latitude"], x["Longitude"]), axis = 1)
display(dfPoints.head())

0    <meteostat.interface.point.Point object at 0x0...
1    <meteostat.interface.point.Point object at 0x0...
2    <meteostat.interface.point.Point object at 0x0...
3    <meteostat.interface.point.Point object at 0x0...
4    <meteostat.interface.point.Point object at 0x0...
dtype: object

In [34]:
dfHourlyData = pd.concat([dfPoints, weatherData["StartTime"], weatherData["EndTime"]], axis = 1)
dfHourlyData = dfHourlyData.rename(columns = {0:"Points"})
display(dfHourlyData.head())

,Points,StartTime,EndTime
0,<meteostat.interface.point.Point object at 0x0...,2018-02-24 20:34:29,2018-02-24 21:34:29
1,<meteostat.interface.point.Point object at 0x0...,2018-02-24 20:54:43,2018-02-24 21:54:43
2,<meteostat.interface.point.Point object at 0x0...,2018-02-25 12:59:59,2018-02-25 13:59:59
3,<meteostat.interface.point.Point object at 0x0...,2018-02-25 13:43:39,2018-02-25 14:43:39
4,<meteostat.interface.point.Point object at 0x0...,2018-02-25 17:50:43,2018-02-25 18:50:43

In [35]:
weatherData["Weather"]= dfHourlyData.apply(lambda x:meteostat.Hourly(x['Points'], x['StartTime'],x['EndTime']), axis = 1)
display(weatherData.head())

Warning: Cannot load hourly/2018/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2019/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2018/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2019/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2018/7FGUJ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2019/7FGUJ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/7FGUJ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2017/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2016/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2015/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2016/8PJPB.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2015/8PJPB.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2016/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2015/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2016/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2015/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2014/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2017/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2013/8PJPB.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2014/8PJPB.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2013/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2014/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2014/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2013/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2012/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2012/8PJPB.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2017/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2011/8PJPB.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2011/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2012/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2011/NZY2Y.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2011/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2012/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2010/2XUGG.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2010/8PJPB.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2013/W3CDZ.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2017/7FGUJ.csv.gz from https://bulk.meteostat.net/v2/

,Key,TFS_Alarm_Time,Latitude,Longitude,StartTime,EndTime,Weather
0,2018022421042968655994,2018-02-24 21:04:29,43.686558,-79.599419,2018-02-24 20:34:29,2018-02-24 21:34:29,<meteostat.interface.hourly.Hourly object at 0...
1,2018022421244376613900,2018-02-24 21:24:43,43.766135,-79.390039,2018-02-24 20:54:43,2018-02-24 21:54:43,<meteostat.interface.hourly.Hourly object at 0...
2,2018022513295974322450,2018-02-25 13:29:59,43.743230,-79.245061,2018-02-25 12:59:59,2018-02-25 13:59:59,<meteostat.interface.hourly.Hourly object at 0...
3,2018022514133970864780,2018-02-25 14:13:39,43.708659,-79.478062,2018-02-25 13:43:39,2018-02-25 14:43:39,<meteostat.interface.hourly.Hourly object at 0...
4,2018022518204371814431,2018-02-25 18:20:43,43.718118,-79.443184,2018-02-25 17:50:43,2018-02-25 18:50:43,<meteostat.interface.hourly.Hourly object at 0...

In [50]:
maxIndex = len(weatherData["Weather"])
print(maxIndex)
hourlyData = []
for x in range(maxIndex):
    hourlyData.append(weatherData["Weather"][25857].fetch())

25858

In [56]:
display(hourlyData[0])

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2021-06-24 12:00:00,18.2,13.1,72.0,0.0,NaN,0.0,0.0,NaN,1022.1,NaN,NaN

In [60]:
d = pd.DataFrame(hourlyData)
display(d.head())

ValueError: Must pass 2-d input. shape=(25858, 1, 11)

In [39]:
weatherData.to_csv("Weather.csv")

In [97]:
# problems: requesting data dropped some data from api
# the time range ie) 10 mins before + 10 mins after or?
# need to add comments
# cannot identify which fires are which anymore because of the change in times
#drop coco, tsun, pres